.offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 624px;
    height: 128px;
    &__title {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
    }
}